*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Calibri';
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

.p {
    line-height: 1.0;
    margin-bottom: 35px;
}

section {
    margin: 20px 20px 20px 50px;
    height: 800px;
    width: 1480px;
    margin-bottom: 10px;
    display: flex;
}

.img {
    border-radius: 50%;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #fff;
    padding: 4px;
}

.name {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 36px;
    color: #000;
    text-shadow: 2px 2px #fff;
    letter-spacing: 3px;
}

.header {
    text-align: left;
    font-family: 'Abril Fatface', cursive;
    font-size: 18px;
    color: #000;
}

hr.solid {
    border-top: 1px solid #000;
}


/* * * * * * * * * * scales * * * * * * * * * */
.container {
    width: 90%;
    background-color: #ddd;
    height: 21px;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #fff;
}

.scale {
    text-align: center;
    color: #fff;
    font-weight: 600;
    height: 19px;
    border-radius: 10px;
}

/* * * * * * * * * * scrollbar * * * * * * * * * */
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #aaa;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #97c1a9;
}

/* * * * * * * * * * navigation bar * * * * * * * * * */
#nav a {
    margin: 20px 20px 20px 20px;
    position: fixed;
    left: -100px;
    transition: 0.3s;
    padding: 15px;
    width: 120px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    border-radius: 0 10px 10px 0;
}

#nav a:hover {
    left: -25px;
}

#j {
    top: 20px;
    background-color: #d4f0f0;
}

#s {
    top: 80px;
    background-color: #8fcaca;
}

#a {
    top: 140px;
    background-color: #cce2cb;
}

#h {
    top: 200px;
    background-color: #b6cfb6;
}

#k {
    top: 260px;
    background-color: #97c1a9;
}

/* * * * * * * * * * icons for toppings and drinks * * * * * * * * * */
.jasmine {
  background: url("images/jasmine.png") 0 0px / 20px 20px no-repeat;
  padding-left: 33px;
  margin-left: 10px;
}

.crystalboba {
  background: url("images/boba.png") 0 0px / 18px 18px no-repeat;
  padding-left: 35px;
  margin-left: 10px;
}

/* * * * * * * * * * julia persona * * * * * * * * * */
.julia {
    background-color: #d4f0f0;
}

.julia-content {
    margin: 20px;
    align-content: center;
    text-align: justify;
}

.julia .left {
    float: left;
    margin: 10px;
    border: 3px solid #fff;
    width: 350px;
    padding: 20px;
}

.julia .center {
    float: left;
    margin: 10px;
    border: 3px solid #fff;
    width: 490px;
    padding: 20px;
}

.julia .right {
    float: left;
    margin: 10px;
    border: 3px solid #fff;
    width: 540px;
    padding: 20px;
}

/* * * * * * * * * * steven persona * * * * * * * * * */
.steven {
    background-color: #97c1a9;
}

.steven-content {
    margin: 20px;
    align-content: center;
    text-align: justify;
}

.steven .left {
    float: left;
    margin: 10px;
    border: 3px solid #fff;
    width: 350px;
    padding: 20px;
}

.steven .center {
    float: left;
    margin: 10px;
    border: 3px solid #fff;
    width: 490px;
    padding: 20px;
}

.steven .right {
    float: left;
    margin: 10px;
    border: 3px solid #fff;
    width: 540px;
    padding: 20px;
}

.drink_s {
    width: 95%;
    background-color: indianred;
}

.tech_s {
    width: 65%;
    background-color: darkorange;
}

.health_s {
    width: 70%;
    background-color: forestgreen;
}

.budget_s {
    width: 65%;
    background-color: skyblue;
}

/* * * * * * * * * * autumn persona * * * * * * * * * */
.autumn {
    background-color: #cce2cb;
}

.autumn-content {
    margin: 20px;
    align-content: center;
    text-align: justify;
}

.autumn .left {
    float: left;
    margin: 10px;
    border: 3px solid #fff;
    width: 350px;
    padding: 20px;
}

.autumn .center {
    float: left;
    margin: 10px;
    border: 3px solid #fff;
    width: 490px;
    padding: 20px;
}

.autumn .right {
    float: left;
    margin: 10px;
    border: 3px solid #fff;
    width: 540px;
    padding: 20px;
}

.drink_a {
    width: 90%;
    background-color: indianred;
}

.tech_a {
    width: 40%;
    background-color: darkorange;
}

.health_a {
    width: 30%;
    background-color: forestgreen;
}

.budget_a {
    width: 50%;
    background-color: skyblue;
}

/* * * * * * * * * * hoang persona * * * * * * * * * */
.hoang {
    background-color: #b6cfb6;
}

.hoang-content {
    background-color: #b6cfb6;
    margin: 0px;
}

/* * * * * * * * * * kenneth persona * * * * * * * * * */
.kenneth {
    background-color: #97c1a9;
}

.kenneth-content {
    margin: 20px;
    align-content: center;
    text-align: justify;
}

.kenneth .left {
    float: left;
    margin: 10px;
    border: 3px solid #fff;
    width: 350px;
    padding: 20px;
}

.kenneth .center {
    float: left;
    margin: 10px;
    border: 3px solid #fff;
    width: 490px;
    padding: 20px;
}

.kenneth .right {
    float: left;
    margin: 10px;
    border: 3px solid #fff;
    width: 540px;
    padding: 20px;
}

.drink_k {
    width: 90%;
    background-color: indianred;
}

.tech_k {
    width: 75%;
    background-color: darkorange;
}

.health_k {
    width: 50%;
    background-color: forestgreen;
}

.budget_k {
    width: 40%;
    background-color: skyblue;
}