*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Calibri';
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1e3b67;
    background-image: url(images/background.jpg);
    background-position: center;
    background-attachment: fixed;
}

.p {
    line-height: 1.0;
    margin-bottom: 35px;
}

section {
    margin: 20px 20px 20px 50px;
    height: 800px;
    width: 1480px;
    margin-bottom: 10px;
    display: flex;
}

.img {
    border-radius: 50%;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #fff;
    padding: 3px;
}

.name {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 36px;
    color: #000;
    text-shadow: 2px 2px #fff;
    letter-spacing: 3px;
}

.header {
    text-align: left;
    font-family: 'Abril Fatface', cursive;
    font-size: 18px;
    color: #000;
}

hr.solid {
    border-top: 1px solid #fff;
}


/* * * * * * * * * * scales * * * * * * * * * */
.container {
    width: 90%;
    background-color: #fff;
    height: 21px;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #fff;
}

.scale {
    text-align: center;
    color: #fff;
    font-weight: 600;
    height: 19px;
    border-radius: 10px;
}

/* * * * * * * * * * scrollbar * * * * * * * * * */
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #adb9d1;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #6d87b8;
}

/* * * * * * * * * * navigation bar * * * * * * * * * */
#nav a {
    margin: 20px 20px 20px 20px;
    position: fixed;
    left: -100px;
    transition: 0.3s;
    padding: 15px;
    width: 120px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    border-radius: 0 10px 10px 0;
}

#nav a:hover {
    left: -25px;
}

#j {
    top: 20px;
    background-color: #d07e7e;
    border: 2px solid #fff;
    font-weight: 600;
}

#s {
    top: 80px;
    background-color: #8a9fcc;
    border: 2px solid #fff;
    font-weight: 600;
}

#a {
    top: 140px;
    background-color: #87b9c3;
    border: 2px solid #fff;
    font-weight: 600;
}

#h {
    top: 200px;
    background-color: #c48065;
    border: 2px solid #fff;
    font-weight: 600;
}

#k {
    top: 260px;
    background-color: #e39b70;
    border: 2px solid #fff;
    font-weight: 600;
}

/* * * * * * * * * * icons for toppings and drinks * * * * * * * * * */
.jasmine {
  background: url("images/jasmine.png") 0 0px / 20px 20px no-repeat;
  padding-left: 33px;
  margin-left: 10px;
}

.crystalboba {
  background: url("images/crystalboba.png") 0 0px / 18px 18px no-repeat;
  padding-left: 35px;
  margin-left: 10px;
}

.greentea {
  background: url("images/greentea.png") 0 -2px / 25px 25px no-repeat;
  padding-left: 35px;
  margin-left: 10px;
}

.boba {
  background: url("images/boba.png") 0 0px / 18px 18px no-repeat;
  padding-left: 35px;
  margin-left: 15px;
  float: left;
}

.jelly {
  background: url("images/lycheejelly.png") 0 0px / 18px 18px no-repeat;
  padding-left: 35px;
  margin-left: 15px;
  float: left;
}

.eggpudding {
  background: url("images/eggpudding.png") 0 0px / 25px 25px no-repeat;
  padding-left: 35px;
  margin-left: 10px;
  float: left;
}

.grass {
  background: url("images/grassjelly.png") 2px / 25px 25px no-repeat;
  padding-left: 35px;
  margin-left: 18px;
  float: left;
}

.aloe {
  background: url("images/aloe.png") 0 0px / 18px 18px no-repeat;
  padding-left: 35px;
  margin-left: 10px;
  float: left;
}

.tea {
  background: url("images/milktea.png") 0 -2px / 25px 25px no-repeat;
  padding-left: 35px;
  margin-left: 10px;
}

.milkshake {
  background: url("images/milkshake.png") 0 -2px / 20px 25px no-repeat;
  padding-left: 35px;
  margin-left: 10px;
}

/* * * * * * * * * * julia persona * * * * * * * * * */
.julia {
    background-image: linear-gradient(#d59090, #d07e7e, #d59090);
}

.julia-content {
    margin: 20px;
    align-content: center;
    text-align: justify;
}

.julia .left {
    float: left;
    margin: 10px;
    border: 1px dotted #fff;
    width: 350px;
    height: 98%;
    padding: 20px;
}

.julia .center {
    float: left;
    margin: 10px;
    border: 1px dotted #fff;
    width: 490px;
    height: 98%;
    padding: 20px;
}

.julia .right {
    float: left;
    margin: 10px;
    border: 1px dotted #fff;
    width: 540px;
    height: 98%;
    padding: 20px;
}

.drink_j {
    width: 90%;
    background-color: #495942;
}

.tech_j {
    width: 40%;
    background-color: #6e8a61;
}

.health_j {
    width: 30%;
    background-color: #8da183;
}

.budget_j {
    width: 50%;
    background-color: #bcc7b7;
}

/* * * * * * * * * * steven persona * * * * * * * * * */
.steven {
    background-image: linear-gradient(#a6b5d6, #8a9fcc, #a6b5d6);
}

.steven-content {
    margin: 20px;
    align-content: center;
    text-align: justify;
}

.steven .left {
    float: left;
    margin: 10px;
    border: 1px dotted #fff;
    width: 350px;
    height: 98%;
    padding: 20px;
}

.steven .center {
    float: left;
    margin: 10px;
    border: 1px dotted #fff;
    width: 490px;
    height: 98%;
    padding: 20px;
}

.steven .right {
    float: left;
    margin: 10px;
    border: 1px dotted #fff;
    width: 540px;
    height: 98%;
    padding: 20px;
}

.drink_s {
    width: 95%;
    background-color: #4d0e16;
}

.tech_s {
    width: 65%;
    background-color: #741824;
}

.health_s {
    width: 70%;
    background-color: #a02131;
}

.budget_s {
    width: 65%;
    background-color: #e02f46;
}

/* * * * * * * * * * autumn persona * * * * * * * * * */
.autumn {
    background-image: linear-gradient(#9bc7d0, #87b9c3, #9bc7d0);
}

.autumn-content {
    margin: 20px;
    align-content: center;
    text-align: justify;
}

.autumn .left {
    float: left;
    margin: 10px;
    border: 1px dotted #fff;
    width: 350px;
    height: 98%;
    padding: 20px;
}

.autumn .center {
    float: left;
    margin: 10px;
    border: 1px dotted #fff;
    width: 490px;
    height: 98%;
    padding: 20px;
}

.autumn .right {
    float: left;
    margin: 10px;
    border: 1px dotted #fff;
    width: 540px;
    height: 98%;
    padding: 20px;
}

.drink_a {
    width: 90%;
    background-color: #4a4438;
}

.tech_a {
    width: 40%;
    background-color: #6d6047;
}

.health_a {
    width: 30%;
    background-color: #988256;
}

.budget_a {
    width: 50%;
    background-color: #cfae6d;
}

/* * * * * * * * * * hoang persona * * * * * * * * * */
.hoang {
    background-image: linear-gradient(#cc8d76, #c48065, #cc8d76);
}

.hoang-content {
    margin: 20px;
    align-content: center;
    text-align: justify;
}

.hoang .left {
    float: left;
    margin: 10px;
    border: 1px dotted #fff;
    width: 350px;
    height: 98%;
    padding: 20px;
}

.hoang .center {
    float: left;
    margin: 10px;
    border: 1px dotted #fff;
    width: 490px;
    height: 98%;
    padding: 20px;
}

.hoang .right {
    float: left;
    margin: 10px;
    border: 1px dotted #fff;
    width: 540px;
    height: 98%;
    padding: 20px;
}

.drink_h {
    width: 80%;
    background-color: #1c333c;
}

.tech_h {
    width: 45%;
    background-color: #31464e;
}

.health_h {
    width: 20%;
    background-color: #5a6e76;
}

.budget_h {
    width: 90%;
    background-color: #a4acaf;
}

/* * * * * * * * * * kenneth persona * * * * * * * * * */
.kenneth {
    background-image: linear-gradient(#e7a57d, #e39b70, #e7a57d);
}

.kenneth-content {
    margin: 20px;
    align-content: center;
    text-align: justify;
}

.kenneth .left {
    float: left;
    margin: 10px;
    border: 1px dotted #fff;
    width: 350px;
    height: 98%;
    padding: 20px;
}

.kenneth .center {
    float: left;
    margin: 10px;
    border: 1px dotted #fff;
    width: 490px;
    height: 98%;
    padding: 20px;
}

.kenneth .right {
    float: left;
    margin: 10px;
    border: 1px dotted #fff;
    width: 540px;
    height: 98%;
    padding: 20px;
}

.drink_k {
    width: 80%;
    background-color: #3f5197;
}

.tech_k {
    width: 45%;
    background-color: #5d6fb6;
}

.health_k {
    width: 20%;
    background-color: #8696d8;
}

.budget_k {
    width: 90%;
    background-color: #abb8ee;
}